.third-section{
    .container{
        h1{
            margin-top: 110px;
            margin-bottom: 35px;
        }
        hr{
            margin-top: 35px;
            width: 100px;
            margin-bottom: 100px;
        }
        .row{
            margin-bottom: 100px;
            i{
                color: rgb(169, 52, 101);
                font-size: 4em;
                
            }
            p{
                color: rgb(108, 117, 151);
            }
            .third-one{
                    #third-screen-one{
                        width: 320px;
                        height: 650px;
                        @media all and (max-width:992px)
                        {
                            position: relative;
                            top:0;
                            right:80px;
                        }
                        @media all and (max-width:768px)
                        {
                            right: 0px;
                        }
                    }
                     #third-screen{
                        width: 282px;
                        height: 500px;
                        position: absolute;
                        top:74px;
                        right: -31px;
                        @media all and (max-width:1200px)
                        {
                            right: -77px;
                        }
                        @media all and (max-width:992px)
                        {
                            right: -55px;
                        }
                        @media all and (max-width:768px)
                        {
                            right: 129px;
                        }
                        @media all and (max-width:576px)
                        {
                            right: 126px;
                        }
                    }
            }
            .third-two{
                div{
                    &:first-of-type{
                        margin-bottom: 120px;
                        @media all and (max-width:768px)
                        {
                            margin-bottom: 0px;
                            margin-top: 120px;
                        }
                    }
                }

            }
            .third-three{
                div{
                    &:first-of-type{
                        margin-bottom: 120px;
                        @media all and (max-width:768px)
                        {
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}