footer{
    .container{
        .row{
                .icons-social{
                  margin-top: 30px;
                  margin-bottom: 30px;
                    a{
                     
                        i{
                            font-size: 1.5em;
                            background-color: rgb(33, 37, 41);
                            padding:9px;
                            color:white;
                            border-radius: 50%;
                            
                        }
                    
                    }
                    .facebookIcon
                    {
                        padding: 7px 15px;
                        margin-right: 10px;
                        margin-left: 10px;
                    }
                .twitterIcon{
                    padding: 7px 10px;
                }
                .linkedIcon{
                    padding: 7px 11px;
                }
                }
            
            a{
                text-decoration: none;
                color:rgb(254, 209, 54)
            }
        }
    }
}