body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    background: #dc2430;
    background-image: url("../img/bg-pattern.png");
    background-image: url("../img/bg-pattern.png"), linear-gradient(104deg, #dc2430 0%, #7b4397 100%);
}

header .container .row .header-nav {
    max-width: 1100px;
    height: 100%;
}

header .container .row .header-nav #company_name h4 {
    color: #fbad49;
}

header .container .row .header-nav #nav-bar nav ul {
    list-style-type: none;
}

header .container .row .header-nav #nav-bar nav ul li {
    float: left;
    margin-right: 20px;
}

header .container .row .header-nav #nav-bar nav ul li:last-of-type {
    margin-right: 0;
}

header .container .row .header-nav #nav-bar nav ul li a {
    text-decoration: none;
    color: #dfc1d4;
}

header .container .row .header-text {
    max-width: 466px;
    margin-left: 70px;
    margin-top: 196px;
}

@media all and (max-width: 1200px) {
    header .container .row .header-text {
        margin-left: 0;
    }
}

@media all and (max-width: 992px) {
    header .container .row .header-text {
        margin-left: 0px;
    }
}

@media all and (max-width: 768px) {
    header .container .row .header-text {
        margin-left: 40px;
        text-align: center;
    }
}

@media all and (max-width: 576px) {
    header .container .row .header-text {
        margin-left: 30px;
        text-align: center;
    }
}

header .container .row .header-text h1 {
    color: white;
    font-weight: lighter;
}

header .container .row .header-text button {
    text-transform: uppercase;
    width: 250px;
    height: 50px;
    background: transparent;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    margin-top: 62px;
}

header .container .row .header-image {
    margin-top: 90px;
}

header .container .row .header-image img {
    width: 320px;
    height: 650px;
    margin-right: 50px;
    margin-bottom: 126px;
}

@media all and (max-width: 992px) {
    header .container .row .header-image img {
        margin-right: 0px;
    }
}

@media all and (max-width: 768px) {
    header .container .row .header-image img {
        margin-right: 100px;
        text-align: center;
    }
}

@media all and (max-width: 576px) {
    header .container .row .header-image img {
        margin-right: 100px;
    }
}

header .container .row .header-image #screen {
    width: 282px;
    height: 500px;
    position: absolute;
    top: 74px;
    right: 34px;
}

.discover-us {
    background-color: #fdc742;
}

.discover-us .container .row .second-section {
    max-width: 600px;
}

.discover-us .container .row .second-section h1 {
    margin-top: 160px;
    font-size: 59px;
}

.discover-us .container .row .second-section p {
    margin-top: 20px;
}

.discover-us .container .row .second-section #icons div {
    width: 203px;
    height: 60px;
    margin-bottom: 150px;
}

.discover-us .container .row .second-section #icons div img {
    width: 100%;
    height: 100%;
}

.discover-us .container .row .second-section #icons div:first-of-type {
    margin-right: 7px;
}

.third-section .container h1 {
    margin-top: 110px;
    margin-bottom: 35px;
}

.third-section .container hr {
    margin-top: 35px;
    width: 100px;
    margin-bottom: 100px;
}

.third-section .container .row {
    margin-bottom: 100px;
}

.third-section .container .row i {
    color: #a93465;
    font-size: 4em;
}

.third-section .container .row p {
    color: #6c7597;
}

.third-section .container .row .third-one #third-screen-one {
    width: 320px;
    height: 650px;
}

@media all and (max-width: 992px) {
    .third-section .container .row .third-one #third-screen-one {
        position: relative;
        top: 0;
        right: 80px;
    }
}

@media all and (max-width: 768px) {
    .third-section .container .row .third-one #third-screen-one {
        right: 0px;
    }
}

.third-section .container .row .third-one #third-screen {
    width: 282px;
    height: 500px;
    position: absolute;
    top: 74px;
    right: -31px;
}

@media all and (max-width: 1200px) {
    .third-section .container .row .third-one #third-screen {
        right: -77px;
    }
}

@media all and (max-width: 992px) {
    .third-section .container .row .third-one #third-screen {
        right: -55px;
    }
}

@media all and (max-width: 768px) {
    .third-section .container .row .third-one #third-screen {
        right: 129px;
    }
}

@media all and (max-width: 576px) {
    .third-section .container .row .third-one #third-screen {
        right: 67px;
    }
}

.third-section .container .row .third-two div:first-of-type {
    margin-bottom: 120px;
}

@media all and (max-width: 768px) {
    .third-section .container .row .third-two div:first-of-type {
        margin-bottom: 0px;
        margin-top: 120px;
    }
}

.third-section .container .row .third-three div:first-of-type {
    margin-bottom: 120px;
}

@media all and (max-width: 768px) {
    .third-section .container .row .third-three div:first-of-type {
        margin-bottom: 0px;
    }
}

.four-section .container-fluid .row {
    position: relative;
}

.four-section .container-fluid .row .four-backgound {
    background-image: url("../img/bg-cta.jpg");
    height: 765px;
    background-position: center;
    background-size: cover;
}

.four-section .container-fluid .row .four-backgound #h1First {
    color: white;
    font-size: 70px;
    position: absolute;
    top: 240px;
    left: 140px;
}

@media all and (max-width: 1200px) {
    .four-section .container-fluid .row .four-backgound #h1First {
        left: 60px;
    }
}

@media all and (max-width: 992px) {
    .four-section .container-fluid .row .four-backgound #h1First {
        font-size: 55px;
        left: 17px;
    }
}

@media all and (max-width: 768px) {
    .four-section .container-fluid .row .four-backgound #h1First {
        font-size: 50px;
        left: 17px;
    }
}

.four-section .container-fluid .row .four-backgound #h1Second {
    color: white;
    font-size: 70px;
    position: absolute;
    top: 330px;
    left: 140px;
}

@media all and (max-width: 1200px) {
    .four-section .container-fluid .row .four-backgound #h1Second {
        left: 60px;
    }
}

@media all and (max-width: 992px) {
    .four-section .container-fluid .row .four-backgound #h1Second {
        font-size: 55px;
        left: 17px;
    }
}

@media all and (max-width: 768px) {
    .four-section .container-fluid .row .four-backgound #h1Second {
        font-size: 50px;
        left: 17px;
    }
}

.four-section .container-fluid .row .four-backgound button {
    width: 250px;
    height: 50px;
    background: transparent;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    margin-top: 62px;
    font-size: 13px;
    position: absolute;
    top: 380px;
    left: 140px;
}

@media all and (max-width: 1200px) {
    .four-section .container-fluid .row .four-backgound button {
        left: 60px;
    }
}

@media all and (max-width: 992px) {
    .four-section .container-fluid .row .four-backgound button {
        left: 17px;
    }
}

@media all and (max-width: 768px) {
    .four-section .container-fluid .row .four-backgound button {
        left: 17px;
    }
}

.five-section .container-fluid {
    height: 365px;
    background-color: #fdc742;
}

.five-section .container-fluid .row .five-column h2 {
    margin-top: 100px;
}

.five-section .container-fluid .row .five-column span {
    color: red;
    font-size: 1.5em;
}

.five-section .container-fluid .row .five-column #icons {
    margin-top: 40px;
    font-size: 3em;
    color: white;
}

.five-section .container-fluid .row .five-column #icons i {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding-top: 5px;
}

.five-section .container-fluid .row .five-column #icons i:first-of-type {
    background-color: #1da1f2;
}

.five-section .container-fluid .row .five-column #icons i:nth-of-type(2) {
    background-color: #3b5998;
    margin-left: 15px;
    margin-right: 15px;
}

.five-section .container-fluid .row .five-column #icons i:nth-of-type(3) {
    background-color: #dd4b39;
}

footer .container-fluid {
    height: 90px;
    background-color: #222222;
    color: #60594b;
}

footer .container-fluid .row .fotterColmun p {
    margin-top: 30px;
    color: #60594b;
    font-size: 10px;
    margin-bottom: 0;
}

footer .container-fluid .row .fotterColmun a {
    text-decoration: none;
    color: #60594b;
    font-size: 10px;
    padding-top: 0;
}
